@media only screen and (max-width:500px) { 

  main {
    height: 180vh;
  }

  br {
    display: none;
  }

  .card {
    height: 1326px;
    width: 328px;
    flex-direction: column;
  }

  .box {
    height: 29.4667rem;
    width: 100%;
    padding: 3.2rem;
  }

  .left {
    border-radius: 0.5333rem 0.5333rem 0rem 0rem;
  }

  .right {
    border-radius: 0rem 0rem 0.5333rem 0.5333rem;
  }

  
  .btn {
    margin-top: 1.6rem;
  }
}
