:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --head-font: 'Big Shoulders Display', cursive;
  --body-font: 'Lexend Deca', sans-serif;
  --body-font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--body-font-size);
}

body {
  background-color: var(--very-light-gray);
  font-size: var(--body-font-size);
}

main {
  display: flex;
  width: 100%;
  height: 98vh;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  width: 918px;
  height: 500px;
  border-radius: 0.5333rem;
}

.box {
  width: 306px;
  height: 100%;
  padding: 3.2rem 0 0 3.2rem;
}

.left {
  background-color: var(--bright-orange);
  border-radius: 0.5333rem 0rem 0rem 0.5333rem;
}

.center {
  background-color: var(--dark-cyan);
}

.right {
  background-color: var(--very-dark-cyan);
  border-radius: 0rem 0.5333rem 0.5333rem 0rem;
}

.title {
  font-family: var(--head-font);
  text-transform: uppercase;
  color: var(--very-light-gray);
  font-size: 2.6333rem;
  margin-top: 2.4rem;
}

.description {
  font-family: var(--body-font);
  color: var(--transparent-white); 
  line-height: 1.625; 
  font-weight: 400;
  margin-top: 2rem;
}

br {
  display: block;
}

.btn {
  width: 9.6667rem;
  height: 3.2rem; 
  border: none;
  border-radius: 1.6667rem;
  font-family: var(--body-font);
  font-size: 1rem;
  margin-top: 5.6667rem;
}

.btn-left {
  color:var(--bright-orange);
}

.btn-center {
  color: var(--dark-cyan);
}

.btn-right {
 color: var(--very-dark-cyan);
}

.btn:hover {
  background-color: transparent;
  color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  cursor: pointer;
} 

.attribution { 
  font-size: 0.7333rem; 
  text-align: center;
  font-family: var(--body-font); 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}


